/* h1 {
  font-size: 32px;
}
p {
  font-size: 20px;
}
a {
  font-size: 16px;
} */
/* img {
  width: 100px;
} */
/* div{
  max-height:100vh;
  max-width: 100vw;
  height: 500px;
}
img{
  width: 50%;
  height: 100%;
} */

/* a{
  font-size: 16px;
  background-color: yellow;
  width: 500px;
  height: 500px;
} */

/* a{
  background-color: salmon;
  padding: 20px 40px;
  margin-top: 50px;
} */

/* div {
  width: 800px;
  background-color: khaki;
  text-align: center;
  padding: 50px;
  border: 2px solid black;
} */

/* .box {
  box-sizing: border-box;
  background-color: plum;
  border: 10px solid black;
  padding: 50px;
  width: 500px;
  height: 500px;
  margin: 100px;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .box {
  background-color: beige;
  max-width: 1200px;
  margin: 0 auto;
} */

/* .container{
  background-color: blueviolet;
  max-width: 1000px;
  height: 500px;
} */

/* img {
  max-width: 800px;
  width: 100%;
} */

.card {
  height: 200px;
  min-width: 800px;
  background-color: salmon;
}
.no-width {
  background-color: salmon;
  display: inline-block;
  text-align: center;
}
.width {
  background-color: lightgreen;
  display: inline-block;
  text-align: center;
  width: 100px;
}
.min-width {
  display: inline-block;
  background-color: blanchedalmond;
  text-align: center;
  min-width: 100px;
}
span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: azure;
  display: inline-block;
  max-width: 800px;
  padding: 25px;
  margin: 10px 25px;
}
body {
  min-height: 100vh;
}
.hero {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.para,
.img {
  margin: auto 5%;
}
.para p {
  line-height: 1.5;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.img img {
  max-width: 600px;
  width: 100%;
}

/* .box1 {
  max-width: 1000px;
  height: 400px;
  background-color: lightblue;
} */
/*
.box2 {
  width: 1000px;
  min-height: 400px;  
  background-color: salmon;
}*/
/* .box2 {
  width: 1000px;
  max-height: 400px; 
  background-color: salmon;
  overflow: auto;
} */


