h1 {
  font-size: 32px;
}
p {
  font-size: 20px;
}
a {
  font-size: 16px;
}
/* img {
  width: 100px;
} */
/* div{
  max-height:100vh;
  max-width: 100vw;
  height: 500px;
}
img{
  width: 50%;
  height: 100%;
} */

a{
  font-size: 16px;
  background-color: yellow;
  width: 500px;
  height: 500px;
}