/* h1,
h2,
h3 {
  font-weight: 700;
  letter-spacing: -2px;
  color: rebeccapurple;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h {
  font-size: 20px;
} */

/* a:link,
a:visited {
  color: blue;
}
a:hover,
a:active {
  color: green;
} */

/* ul li:first-child{
  color: red;
}
ul li:last-child{
  color: blue;
}
ul li:nth-child(2n){
color: yellow;
} */

/* .article p {
  color: green;
}
.article > p {
  color: red;
}
.article h1 + p {
  color: blue;
}
.article h1 ~ p {
  color: blueviolet;
} */

/* 
.hero{
  color: blue;
  border: 1px solid blue;
} */

/* body{
  color: blue;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
color: forestgreen;
font-weight: 700;
font-size: 52px;
} */

/* .hero {
  text-align: center;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
a {
  text-align: center;
} */

/* p::first-letter{
  text-transform: uppercase;
 font-size: 30px; 
} */

/* p::selection{
  color: green;
  background-color: black; 
 } */

/* h1::before {
  content: "heading";
  font-size: 24px;
  color: red;
} */
