* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.grid-container {
  background-color: black;
  color: white;
  font-size: 40px;
  width: 800px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: repeat(4, 100px); */
  /* justify-content: space-between;
  align-content: space-between; */
  align-items: center;
  justify-items: center;
}
.grid-item {
  width: 50px;
  height: 50px;
}
.grid-item1 {
  /* grid-column: 1/3; */
  background-color: red;
  /* justify-self: end;
  align-self: center; */
}
.grid-item2 {
  background-color: blue;
}
.grid-item3 {
  background-color: green;
}
.grid-item4 {
  background-color: orange;
}
.grid-item5 {
  background-color: purple;
  /* grid-row: 3/5; */
}
.grid-item6 {
  background-color: pink;
}
.grid-item7 {
  background-color: chartreuse;
}
.grid-item8 {
  background-color: brown;
}
