* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.grid-container {
  font-size: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-item1 {
  background-color: red;
}
.grid-item2 {
  background-color: blue;
}
.grid-item3 {
  background-color: green;
}
.grid-item4 {
  background-color: orange;
}
.grid-item5 {
  background-color: purple;
}
.grid-item6 {
  background-color: pink;
}
.grid-item7 {
  background-color: chartreuse;
}
.grid-item8 {
  background-color: brown;
}
