/* h1{
  font-weight: 400;
}
p{
  font-weight: 700;
  text-align: underline ;
} */

/* h1 {
  text-align: underline red wavy;
}
h2 {
  text-align: line-through green dotted;
}
p {
  text-align: overline blue;
}
a {
  text-align: none;
} */

/* h1{
  font-style: italic;
}
h2{
  font-style: oblique;
} 
p{
  font-style: oblique 30deg;
} */

/* p{
  text-transform: uppercase;
}
h1,a{
  text-transform: lowercase;
} */

/* ul{
  list-style: none;
}
ul li{
  display: inline-block;
} */

/* h1{
  font-weight: 400;
}
p{
  font-weight: 700;
  text-align: underline ;
} */

/* h1 {
  text-align: center;
}
h2 {
  text-align: left;
}
p {
  text-align: right;
}
a {
  text-align: center;
}  */

/* p {
  line-height: 1.5;
}
h1{
  letter-spacing: 3.6px;
} */

h1 {
  font-family: "Poppins", sans-serif;
  color: #0f4e61;
}
