/* h1{
  font-weight: 400;
}
p{
  font-weight: 700;
  text-decoration: underline ;
} */

/* h1 {
  text-decoration: underline red wavy;
}
h2 {
  text-decoration: line-through green dotted;
}
p {
  text-decoration: overline blue;
}
a {
  text-decoration: none;
} */

/* h1{
  font-style: italic;
}
h2{
  font-style: oblique;
} 
p{
  font-style: oblique 30deg;
} */

/* p{
  text-transform: uppercase;
}
h1,a{
  text-transform: lowercase;
} */

/* ul{
  list-style: none;
}
ul li{
  display: inline-block;
} */