/* ----------Typogrphy----------
-----------FONT SIZE-----------
12PX 16PX 20P 24PX 3PX 48PX 62PX

-----------FONT WEIGHT-----------
700,400

-----------LINE HEIGHT-----------
1.2,1.5

-----------LETTER SPACING-----------
-2PX

-----------FONT FAMILY-----------
POPPINS

-----------COLORS----------- 

PRIMARY
Base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)

SECONDARY
Base: #9775fa (Lavendar)
Tint: #e5dbff (Moonligh Iris)
Shade: #7048e8 (Velvet Night)

TERTIARY
Base: #ff922b (Pumpkin)
Tint: #ffe8cc (Dawn)
Shade: #f76707 (Lava)

GREY
Base: #495057 (Slate)
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)
White: #ffffff (White)
Black: #000000 (Black)


----Border radius---- 

 4px , 8px , 20px 

 -----Spacing system----

 5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px
 */

/* -------------Global Styles----------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /*16px* 62.5% = 10px (global fontsize)*/
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #212529;
}
h1 {
  font-size: 6.2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 2.4rem;
}
p {
  font-size: 2rem;
}
a {
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
}
ul {
  list-style: none;
}
.small-text {
  font-size: 1.2rem;
}
span {
  display: inline-block;
}

/* -------------Components Styles----------------- */

#heart-logo {
  font-size: 1.4rem;
  color: red;
}
.btn {
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  border-radius: 8px;
  text-decoration: none;
  color: white;
}
/* filled btn-primary */
.btn-primary:link,
.btn-primary:visited {
  background-color: #339af0;
  border: 2px solid #339af0;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: #1c7ed6;
  border: 2px solid #1c7ed6;
}

/* outline btn-primary */
.btn-primary-outline:link,
.btn-primary-outline:visited {
  color: #339af0;
  background-color: transparent;
  border: 2px solid #339af0;
}
.btn-primary-outline:hover,
.btn-primary-outline:active {
  color: #1c7ed6;
  background-color: transparent;
  border: 2px solid #1c7ed6;
}

/* filled btn-secondary */
.btn-secondary:link,
.btn-secondary:visited {
  background-color: #9775fa;
  border: 2px solid #9775fa;
}
.btn-secondary:hover,
.btn-secondary:active {
  background-color: #7048e8;
  border: 2px solid #7048e8;
}
.highlight {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #ffff;
}

.highlight-primary {
  background-color: #339af0;
}

.highlight-secondary {
  background-color: #9775fa;
}

.highlight-tertiary {
  background-color: #ff922b;
}

.logo-md {
  width: 100px;
}

.logo-sm {
  width: 80px;
}

/* -------------Section Styles----------------- */

/* -------header------ */

.header {
  height: 100vh;
  min-height: 800px;
}

/* -------Navbar------- */

.navbar {
  margin-bottom: 20rem;
}

/* -----Hero section------ */

.hero-section {
  text-align: center;
  margin-bottom: 30rem;
}
.hero-heading {
  margin-bottom: 1rem;
}
.hero-paragraph {
  margin-bottom: 5rem;
}

/* -----feature section------ */

.features-section {
  margin-bottom: 30rem;
}

.features-main-heading {
  text-align: center;
  margin-bottom: 8rem;
}

.features-img {
  max-width: 400px;
  width: 100%;
}
.features-heading {
  margin-bottom: 2rem;
}

/* ----cta-section---- */

.cta-section {
  margin-bottom: 30rem;
}

.cta-card {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  /* padding: 100px 200px; */
  border-radius: 20px;
  background-color: #339af0;
}

.cta-heading {
  margin-bottom: 3rem;
}

/* -----footer section----- */

.footer {
  text-align: center;
}

.social-icons {
  width: 20px;
}
