/* ----------Typogrphy----------
-----------FONT SIZE-----------
12PX 16PX 20P 24PX 3PX 48PX 62PX

-----------FONT WEIGHT-----------
700,400

-----------LINE HEIGHT-----------
1.2,1.5

-----------LETTER SPACING-----------
-2PX

-----------FONT FAMILY-----------
POPPINS

-----------COLORS----------- 

PRIMARY
Base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)

SECONDARY
Base: #9775fa (Lavendar)
Tint: #e5dbff (Moonligh Iris)
Shade: #7048e8 (Velvet Night)

TERTIARY
Base: #ff922b (Pumpkin)
Tint: #ffe8cc (Dawn)
Shade: #f76707 (Lava)

GREY
Base: #495057 (Slate)
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)
White: #ffffff (White)
Black: #000000 (Black)

*/

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* -------------Global Styles----------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}
h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #212529;
}
h1 {
  font-size: 62px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 40px;
}
p {
  font-size: 20px;
}
a {
  text-decoration: none;
  font-size: 16px;
}
ul {
  list-style: none;
}
.small-text {
  font-size: 12px;
}

/* -------------Components Styles----------------- */

#heart-logo {
  font-size: 14px;
  color: red;
}
.btn {
  text-decoration: none;
  font-size: 16px;
  color: white;
}
.btn-primary:link,
.btn-primary:visited {
  background-color: #339af0;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: #1c7ed6;
}
.btn-secondary:link,
.btn-secondary:visited {
  background-color: #9775fa;
}
.btn-secondary:hover,
.btn-secondary:active {
  background-color: #7048e8;
}

.highlight {
  background-color: #ffff;
}

.highlight-primary{
  background-color: #339af0;
}

.highlight-secondary{
  background-color: #9775fa;
}

.highlight-tertiary{
  background-color: #ff922b;
}


/* -------------Section Styles----------------- */

/* -----Hero section------ */

.hero-section {
  text-align: center;
}

/* ----cta-section---- */

.cta-section {
  text-align: center;
}

/* -----footer section----- */

.footer {
  text-align: center;
}

/* -----feature section------ */
.features-main-heading {
  text-align: center;
}
