/* ----------Typogrphy----------

-----------FONT SIZE-----------
12PX 16PX 20P 24PX 3PX 48PX 62PX

-----------FONT WEIGHT-----------
700,400

-----------LINE HEIGHT-----------
1.2,1.5

-----------LETTER SPACING-----------
-2PX

-----------FONT FAMILY-----------
POPPINS

-----------COLORS----------- 

PRIMARY
Base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)

SECONDARY
Base: #9775fa (Lavendar)
Tint: #e5dbff (Moonligh Iris)
Shade: #7048e8 (Velvet Night)

TERTIARY
Base: #ff922b (Pumpkin)
Tint: #ffe8cc (Dawn)
Shade: #f76707 (Lava)

GREY
Base: #495057 (Slate)
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)
White: #ffffff (White)
Black: #000000 (Black)


----Border radius---- 

 4px , 8px , 20px 

 -----Spacing system----

 5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px
 */

/* -------------Global Styles----------------- */

:root {
  /* FONT SIZE */

  --text-sm: 1.2rem;
  --text-base: 1.6rem;
  --text-paragraph: 2rem;
  --text-h5: 2.4rem;
  --text-h4: 3.2rem;
  --text-h3: 4rem;
  --text-h2: 4.8rem;
  --text-h1: 6.2rem;

  /* FONT WEIGHT */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* LINE HEIGHT */
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;

  /* LETTER SPACING */
  --letter-spacing-tight: -2px;

  /* FONT FAMILY */
  --font-family: "Poppins", sans-serif;

  /* COLORS */
  /* Primary */
  --primary-base: #339af0;
  --primary-tint: #d0ebff;
  --primary-shade: #1c7ed6;

  /* SECONDARY */
  --secondary-base: #9775fa;
  --secondary-tint: #e5dbff;
  --secondary-shade: #7048e8;

  /* TERTIARY */
  --tertiary-base: #ff922b;
  --tertiary-tint: #ffe8cc;
  --tertiary-Shade: #f76707;

  /* GREY */
  --grey-base: #495057;
  --grey-tint: #f1f3f5;
  --grey-shade: #212529;
  --white: #ffffff;
  --black: #000000;

  /* Others */
  --nav-height: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /*16px* 62.5% = 10px (global fontsize)*/
}
body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--grey-base);
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
h1,
h2,
h3 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-tight);
  color: var(--grey-shade);
}
h1 {
  font-size: var(--text-h1);
}
h2 {
  font-size: var(--text-h2);
}
h3 {
  font-size: var(--text-h3);
}
p {
  font-size: var(--text-paragraph);
}
a {
  text-decoration: none;
  font-size: var(--text-base);
  display: inline-block;
}
ul {
  list-style: none;
}
.small-text {
  font-size: var(--text-sm);
}
span {
  display: inline-block;
}

/* -------------Components Styles----------------- */

#heart-logo {
  font-size: var(--text-sm);
  color: red;
}
.btn {
  font-size: var(--text-base);
  padding: 1.5rem 3rem;
  border-radius: 8px;
  text-decoration: none;
  color: var(--white);
}
/* filled btn-primary */
.btn-primary:link,
.btn-primary:visited {
  background-color: var(--primary-base);
  border: 2px solid var(--primary-base);
}
.btn-primary:hover,
.btn-primary:active {
  background-color: var(--primary-shade);
  border: 2px solid var(--primary-shade);
}

/* outline btn-primary */
.btn-primary-outline:link,
.btn-primary-outline:visited {
  color: var(--primary-base);
  background-color: transparent;
  border: 2px solid var(--primary-base);
}
.btn-primary-outline:hover,
.btn-primary-outline:active {
  color: var(--primary-shade);
  background-color: transparent;
  border: 2px solid var(--primary-shade);
}

/* filled btn-secondary */
.btn-secondary:link,
.btn-secondary:visited {
  background-color: var(--secondary-base);
  border: 2px solid var(--secondary-base);
}
.btn-secondary:hover,
.btn-secondary:active {
  background-color: var(--secondary-shade);
  border: 2px solid var(--secondary-shade);
}
.highlight {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: var(--white);
}

.highlight-primary {
  background-color: var(--primary-base);
}

.highlight-secondary {
  background-color: var(--secondary-base);
}

.highlight-tertiary {
  background-color: var(--tertiary-base);
}

.logo-md {
  width: 100px;
}

.logo-sm {
  width: 80px;
}

/* -------------Section Styles----------------- */

/* -------Navbar------- */

.navbar {
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
}

/* -----Hero section------ */

.hero-section {
  height: calc(100vh - var(--nav-height));
  min-height: 400px;
  text-align: center;
  margin-bottom: 10rem;
}
.hero-heading {
  margin-bottom: 1rem;
}
.hero-paragraph {
  margin-bottom: 5rem;
}

/* -----feature section------ */

.features-section {
  margin-bottom: 30rem;
}

.features-main-heading {
  text-align: center;
  margin-bottom: 8rem;
}

.features-img {
  max-width: 400px;
  width: 100%;
}
.features-heading {
  margin-bottom: 2rem;
}

/* ----cta-section---- */

.cta-section {
  margin-bottom: 30rem;
}

.cta-card {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  /* padding: 100px 200px; */
  border-radius: 20px;
  background-color: var(--primary-base);
}

.cta-heading {
  margin-bottom: 3rem;
}

/* -----footer section----- */

.footer {
  display: flex;
  /* text-align: center; */
  align-items: center;
  flex-direction: column;
  /* flex-direction: column;
  justify-content: center; */
}
.social-icons {
  width: 20px;
}
