* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* :root {
  --primary: #12ba87;
  --grey: #333;
  --text-lg: 50px;
  --text-sm: 20px;
}
.btn {
  background-color: #12ba87;
  display: inline-block;
  padding: 10px 25px;
  margin: var(--text-lg);
  font-size: var(--text-sm);
  text-decoration: none;
  color: #333;
  border-radius: 4px;
}
.card {
  width: 800px;
  height: 400px;
  background-color: #12ba87;
}
h1 {
  text-align: center;
  font-size: var(--text-lg);
  padding: var(--text-sm);
  color: #333;
} */

img {
  width: calc(100% / 3 - 50px);
}

:root {
  --text-h1: 50px;
}
h1 {
  font-size: calc(var(--text-h1) + 10vw);
}
