* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.parent-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}
.child-container {
  /* text-align: center; */
  /* box-sizing: content-box; */
  width: 600px;
  height: 300px;
  background-color: blue;
  padding: 125px 200px;
  /* padding: 200px 0; */
  /*margin: 0 auto; */
}
.flex-container {
  background-color: lightblue;
  height: 500px;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  /* align-content: center; */
}
.flex-item {
  width: 300px;
  /* height: 250px; */
}
.flex-item-1 {
  background-color: red;
  /* order: 4; */
  /* align-self:baseline; */
  /* align-items: ; */
  /* flex-grow: 1; */
  /* flex-shrink: 0; */
}
.flex-item-2 {
  background-color: blue;
  /* order: 3; */
  /* flex-grow: 2; */
  /* flex-shrink: 0; */
}
.flex-item-3 {
  background-color: green;
  /* order: 2; */
  /* flex-grow: 1; */
  /* flex-shrink: 0; */
}
.flex-item-4 {
  background-color: violet;
  /* order: 1; */
  /* flex-shrink: 0; */
}
