* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.parent-container {
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  background-color: lightblue;
}
.child-container {
  box-sizing: content-box;
  width: 150px;
  height: 150px;
  background-color: blue;
  /* padding: 0 200px; */
  /* margin: 0 auto; */
}
