* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* div {
  min-height: 100vh;
  position: relative;
}
div img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
  max-width: 500px;
  width: 100%;
  height: 729px;
} */
/* div{
  max-height: 300px;
  background-color: violet;
  overflow: auto;
  padding: 10px 25px;
  line-height: 1.5;
} */