* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* .container {
  width: 800px;
  height: 1800px;
  background-color: gray;
  margin: 100px 0px 0px 100px;
  font-size: 40px;
  position: relative;
}
.box1 {
  width: 100px;
  height: 100px;
  background-color: salmon;
}
.box2 {
  position: absolute;
  top: 50px;
  width: 200px;
  height: 200px;
  background-color: lightgreen;
  z-index: 1;
}
.box3 {
  position: relative;
  z-index: 2;
  width: 300px;
  height: 300px;
  background-color: blue;
} */

/* .card {
  background-color: salmon;
  height: 200px;
  width: 200px;
  margin-top: 100px;
  margin-left: 100px;
} */
/* .card:hover { */
/* transform: scale(1.5, 2); */
/* transform: translate(100px, 100px);
  transition: all 0.5s;
} */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: lightgray;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
