* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* .flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  font-size: 30px;
  gap: 25px;
  width: 400px;
   height: 650px; 
  flex-wrap: wrap;
}
.flex-items {
  background-color: white;
  width: 100px;
  height: 100px;
  border: 2px solid black;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  text-align: center;
  width: 800px;
}
img {
  width: 100px;
} */

.main-container {
  height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.profile-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.profile-card img {
  max-width: 300px;
  width: 90%;
}
.profile-card div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 10%;
}
.profile-card div img:nth-child(1) {
  filter: brightness(0);
}
.profile-card div img:nth-child(2) {
  filter: invert(30%) sepia(90%) saturate(3000%) hue-rotate(190deg);
}
.profile-card div img:nth-child(3) {
  filter: invert(15%) sepia(95%) saturate(6000%) hue-rotate(350deg);
}
