* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.flex-container {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  background-color: gray;
  font-size: 30px;
  gap: 10px;
  width: 400px;
  height: 250px;
  flex-wrap: wrap;
}
.flex-items {
  background-color: white;
  width: 100px;
  height: 100px;
  border: 2px solid black;
}

/* .container {
  display: flex;
  flex-direction: column; */
/* justify-content: center; */
/* align-items: center; */
/* text-align: center; */
/* width: 800px;
  background-color: blanchedalmond;
}
img {
  width: 100px;
} */
