* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* h1 {
  color: red;
  font-size: 5rem;
}
@media (max-width: 1200px) {
  h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: blue;
    font-size: 4rem;
    transition: all 0.5s;
  }
}
@media (max-width: 800px) {
  h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: violet;
    font-size: 3rem;
    transition: all 0.5s;
  }
}
@media (max-width: 600px) {
  h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: green;
    font-size: 2rem;
    transition: all 0.5s;
  }
}
@media (max-width: 300px) {
  h1 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: orange;
    font-size: 1rem;
    transition: all 0.5s;
  }
} */

body {
  background-color: bisque;
}

.review-grid {
  max-width: 1200px;
  width: 90%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.review-card {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border: 2px solid black;
  border-radius: 8px;
}
.review-heading {
  font-size: 40px;
  margin-bottom: 20px;
}
.review-para {
  font-size: 20px;
  margin-bottom: 10px;
}
.review-person {
  font-size: 14px;
  font-weight: 700px;
  justify-self: end;
}
@media (max-width: 1000px) {
  .review-card {
    padding: 15px;
  }
  .review-heading {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .review-para {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .review-person {
    font-size: 14px;
  }
}
