* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* h1 {
  color: red;
  font-size: 5rem;
}
@media (max-width: 1200px) {
  h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: blue;
    font-size: 4rem;
    transition: all 0.5s;
  }
}
@media (max-width: 800px) {
  h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: violet;
    font-size: 3rem;
    transition: all 0.5s;
  }
}
@media (max-width: 600px) {
  h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: green;
    font-size: 2rem;
    transition: all 0.5s;
  }
}
@media (max-width: 300px) {
  h1 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: orange;
    font-size: 1rem;
    transition: all 0.5s;
  }
} */
html {
  font-size: 62.5%; /* 16 × 0.625% = 10px */
  /* 1rem = 10px */
}
body {
  background-color: bisque;
}
.main-container {
  max-width: 120rem;
  width: 90%;
  margin: 10rem auto;
}
.review-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.review-card {
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 8px;
}
/* .review-card-2{
grid-row: 2/3;
grid-column: 1/2;
} */
.review-heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.review-para {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.review-person {
  font-size: 1.8rem;
  font-weight: 700;
  justify-self: end;
}

@media (max-width: 62.5rem) {
  /* Base value 16px */
  html {
    font-size: 50%; /* 0.5 × 16px = 8px, 1rem = 8px*/
  }
}

@media (max-width: 31.25rem) {
  html {
    font-size: 37.5%; /* 16px × 0.375 = 6px , 1rem = 6px*/
  }
  .review-grid {
    grid-template-columns: 1fr;
  }
}
